.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer {
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;
  // }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.logo-socials {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__logo {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
    margin-bottom: 0;
  }
}
.footer__link {
  padding: 0;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--third-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-web {
  color: var(--accent-color);
}

.footer__list-contacts {
  font-style: normal;
  display: inline-block;
}
.footer__contacts {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer__address {
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
}
.footer__mail {
  margin-bottom: 8px;
}

.join__socials {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    align-items: baseline;
    margin-bottom: 0;
    text-align: start;
  }
  text-align: center;
  margin-bottom: 60px;
}
.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join__icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .join__link:hover &,
  .join__link:focus & {
    cursor: pointer;
    fill: #ffffff;
  }
}
.join__link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.mailing__form {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.mailing__form-title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.mailing__subscribe-place {
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
  @media screen and (max-width: 1200px) {
    width: 358px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  width: 450px;
  height: 50px;
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.mailing__subscribe-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
