.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #ffffff;
}
.portfolio-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  & .link:hover,
  & .link:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  & .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-button {
  padding: 6px 22px;
  margin-right: 8px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.overlay-text {
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
  }
  &:hover .picture-text {
    transform: translateY(0%);
  }
}

.picture-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  overflow: auto;
}

.gallery-content {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  width: 370px;
}
.portfolio-img {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-pic {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  .portfolio-img &:hover,
  .portfolio-img &:focus {
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-item {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
